<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    failOnRisky="true"
    executionOrder="random"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="DI Builder Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
